.circle-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

/* text colors */
h1{color: #ffffff;}

h2{color: #ffffff;}

h3{color: #ffffff;}

h4{color: #ffffff;}

ul{color: #c4c4c4;}

a:link, a:visited{
    color: #00c3ff;
    color: #2300d1;
}

header{
    display: flex;
    flex-direction: column;
    background-color: #63626261;
    padding: 20px;
    margin: 0px 0;
    top: 0;
    position: sticky;
    justify-content: bottom;
    z-index: 1000;

    /*glass effect*/
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); 
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}



body{
    /*background animation*/
    background: linear-gradient(135deg, #23b5ea, #a8008f);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;



    font-family: 'MainFont', monospace;
    
        /* Define the Regular weight */
    @font-face {
    font-family: 'MainFont';
    src: local('NerdFont Mono Regular'), 
        url('/fonts/0xProto/0xProtoNerdFont-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    }

    /* Define the Bold weight using the exact same font-family name */
    @font-face {
    font-family: 'MainFont';
    src: local('NerdFont Mono Bold'), 
        url('/fonts/0xProto/0xProtoNerdFont-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
}

/*Title*/
.title-container{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    padding: 15px;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 5px;
    padding: 20px 20px;
    width: fit-content;
    height: fit-content;
}


/*Boxes */

}
.box-container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-rows: 1fr,1fr,1fr;
    gap: 1 em;
}


.box{
    display: inline;
    background-color: #1c1c1c;
    border-radius: 12px;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.2);
    margin: 10px 10px;
    transition: transform 0.2s ease;
    padding: 15px;
    
}

.box:hover {
    z-index: 2;
    box-shadow: 0px 0px 10px rgba(0, 153, 255, 0.807);
    transform: scale(1.01); 

}

.badge{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;

}

/*Cards */
.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    height: fit-content;
}

.card {
    background-color: #414141;
    width: 300px;
    height: 400px;
    padding: 20px;
    font-size: large;
    border-radius: 12px;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.2);
    margin: 20px 0;
    transform-style: preserve-3d;
    transition: transform 0.2s ease;
    align-items: center;
    display: flex;
    flex-direction: column;
    z-index: 1;

}

.card:hover {
    z-index: 2;
    box-shadow: 0px 0px 10px rgba(0, 153, 255, 0.807);
    transform: scale(1.2);
}

.git-data{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 5px;
    padding: 20px 20px;
    width: fit-content;
    height: fit-content;

}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


    .repo-list {
        list-style: none;
        padding: 0;
    }
    .repo-card {
        background: #5c5c5c;
        padding: 15px;
        margin: 10px 0;
        border-radius: 8px;
        text-align: left;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    .repo-card a {
        text-decoration: none;
        color: #007bff;
        font-weight: bold;
    }


/* Dropdown menu*/
.dropdown{
    display: inline-block;
}
.dropdown button{
    background-color: hsl(225, 95%, 46%);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: hsl(0, 0%, 100%);
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: hsl(212, 99%, 40%);

}

.dropdown a:hover{
    background-color: hsl(204, 100%, 50%);
    scale: 1.1;
    box-shadow: 0px 0px 10px hsl(212, 99%, 40%);
}