.circle-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

/* text colors */
h1{color: #ffffff;}

h2{color: #ffffff;}

h3{color: #ffffff;}

h4{color: #ffffff;}

ul{color: #c4c4c4;}

p{color: #ffffff;}

a{color: #ffffff;}

a:link{text-decoration: none;}



header{
    display: flex;
    flex-direction: row;
    background-color: #63626261;
    padding: 20px, 10px;
    margin: 0px 0;
    top: 0;
    gap: 15px;
    position: sticky;
    justify-content: center;
    height: fit-content;
    width: 100%;
    z-index: 1000;
    font-size: 32px;

    /*glass effect*/
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); 
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

body{
    /*background animation*/
    background: linear-gradient(135deg, #000000, #232323);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    

}

/*Title*/
.title-container{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    padding: 15px;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 5px;
    padding: 20px 20px;
    width: fit-content;
    height: fit-content;
}


/*Boxes */
.box-row{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    height: fit-content;
}


.box{
    display: inline;
    margin: 10px 10px;
    transition: transform 0.2s ease;
    padding: 15px;
    
        /*glass effect*/
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); 
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.box:hover {
    box-shadow: 0px 0px 10px rgba(0, 153, 255, 0.807);
    transform: scale(1.01); 

}

.badge{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;

}

/*Cards */
.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    height: fit-content;
}

.card {
    width: 15%;
    height: 20%;
    padding: 20px;
    font-size: large;
    margin: 20px 15px;
    padding: 15px,15px;
    transform-style: preserve-3d;
    transition: transform 0.2s ease;
    gap: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    z-index: 2;

        /*glass effect*/
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); 
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

}

.card:hover {
    box-shadow: 0px 0px 10px rgba(0, 153, 255, 0.807);
    transform: scale(1.2);
    z-index: 10;
}

/*Background Animation*/
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/*Repo Menu*/
    .repo-list {
        list-style: none;
        padding: 0;
    }
    .repo-card {
        background: #ffffff;
        color: #000000;
        padding: 15px;
        margin: 10px 0;
        border-radius: 8px;
        text-align: left;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    .repo-card a {
        text-decoration: none;
        color: #007bff;
        font-weight: bold;
    }


/* buttons*/
.button-43 {
  background: #ffffff;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  width: 100%;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-43:hover {
  background: #898989;
}

@media (min-width: 768px) {
  .button-43 {
    padding: 1rem 2rem;
  }
}
